@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  height: 100%;
  font-size: 62.5%;

  &.is-rtl {
    direction: rtl;
  }
}

body {
  height: 100%;
  overflow: hidden;
  @apply bg-secondary dark:bg-secondary-dark;
  @apply text-ternary dark:text-ternary-dark;
}

#app {
  max-height: 76.8rem;
}

main > section, #section-scroller {
  height: 100%;
}

form, .has-inputs {
  input, textarea, select {
    border: 0.1rem solid;
    @apply border-quaternary dark:border-quaternary-dark;
    @apply bg-secondary dark:bg-secondary-dark;

    .dark & {
      color: rgb(209 250 229);
    }
  }
}

*:focus {
  outline: unset!important;
}

.font-mont {
  @include withRtl('font-family', 'Montserrat', 'Tajawal');
}

.font-popp {
  @include withRtl('font-family', 'Poppins', 'Vazirmatn');
}

// dim disabled
nav ul.nav-dim li a, input.input-dim, div.box-dim {
  opacity: 0.4!important;
}

// scroller global style
#section-scroller {
  overflow-y: auto;
  opacity: 1;
  height: 100%;
  width: 100%;
  padding-bottom: 8rem;

  header {
    h1 {
      @include withRtl(padding, 0 0 0 0.4rem, 0 0.4rem 0 0);
    }
  }
}
.simplebar-content-wrapper {
  width: 100vw;
  display: grid;
  align-items: center;
}
div[data-simplebar=init] {
  .simplebar-track.simplebar-vertical {
      @include withRtl(right, 0, unset);
      @include withRtl(left, unset, 0);
  }
}
.simplebar-scrollbar::before {
  @apply bg-quaternary dark:bg-quaternary-dark #{!important};
  
  opacity: 1!important;
  width: 0.4rem!important;
}