@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary: rgb(16 185 129);
  --secondary: rgb(209 250 229);
  --ternary: rgba(68, 50, 17, 0.8);
  --quaternary: rgb(16 185 129);

  &.dark {
    --primary: rgb(255, 255, 255);
    --secondary: rgb(15, 23, 42);
    --ternary: rgba(137, 151, 172, 0.8);
    --quaternary: rgb(14, 165, 233);
  }
}

html {
  min-height: 100vh;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  font-size: 62.5%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &.is-rtl {
    direction: rtl;
  }
}

body {
  height: 100%;
  overflow: hidden;
  background-color: var(--secondary);
  color: var(--ternary);
}

form {
  input, textarea, select {
    border: 0.1rem solid var(--quaternary);
    background-color: var(--secondary);

    .dark & {
      color: rgb(209 250 229);
    }
  }
}

*:focus {
  outline: unset!important;
}

.font-mont {
  @include withRtl('font-family', 'Montserrat', 'Tajawal');
}

.font-popp {
  @include withRtl('font-family', 'Poppins', 'Vazirmatn');
}

// scroller global style
#section-scroller {
  padding-bottom: 8rem;
  overflow-y: auto;
  opacity: 1;
  max-height: calc(100vh - 15rem);
  width: 100%;

  header {
    h1 {
      @include withRtl(padding, 0 0 0 0.4rem, 0 0.4rem 0 0);
    }
  }
}
div[data-simplebar=init] {
  .simplebar-track.simplebar-vertical {
      @include withRtl(right, 0, unset);
      @include withRtl(left, unset, 0);
  }
}
.simplebar-scrollbar::before {
  background-color: var(--quaternary)!important;
  opacity: 1!important;
  width: 0.4rem!important;
}