@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-size: 62.5%;

  &.is-rtl {
    direction: rtl;
  }
}


html, body {
  height: 100%;
  overflow: hidden;
  background-color: $secondary;
  color: $ternary;
}

*:focus {
  outline: unset!important;
}